<p>Hey Admin,</p>
<p>Subscription by <b>{{ name }}</b> was successful.</p>
<p>Here are the details of the purchase :</p>
<p>Name : <b>{{ name }}</b></p>
<p>Email : <b>{{ email }}</b></p>
<p>Date Of Purchase : <b>{{ createdAt }}</b></p>
<p>Amount : <b>Rs. {{ amount }}</b></p>
<p>Order ID : <b>{{ orderId }}</b></p>
<p>Payment Reference ID  : <b>{{ paymentReferenceId }}</b></p>
<br/>
<p>Thank You.</p>
<p>Team Mentorslab</p>