<p>Hey {{ data.paymentDoneBy.name }},</p>
<p>Your purchase of live session content named "<b>{{ data.forLiveSessionContentAssigned.liveSessionContent.name }}</b>" was successful.</p>
<p>Here are the details of your purchase :</p>
<p>Content : <b>{{ data.forLiveSessionContentAssigned.liveSessionContent.name }}</b></p>
<p>Date Of Purchase : <b>{{ data.updatedAt }}</b></p>
<p>Amount : <b>{{ data.amount }}</b></p>
<p>Order ID : <b>{{ data.orderId }}</b></p>
<p>Payment Reference ID  : <b>{{ data.paymentReferenceId }}</b></p>
<br/>
<p>Thank You.</p>
<p>Team Mentorslab</p>